

.container{
    background-color: #162728;
    height: 800px;
    color: #fff;
}

.container h2{
    padding-bottom:30px;
    padding-top: 50px;
    text-align: center;
}

.container div{
    width: 250px;
    height: 150px;
    background-color: #D1BF74;
    border-radius: 10px;
    padding: 35px 10px;
    margin: auto;
    /*margin: "1em",
    padding: "1em",
    position: "relative",
    display: "flex",
    flexDirection: "column",
    justifyContent: "center",
    alignItems: "center",
    background:"gray" */
}

.container div p{
    text-align: center;
    font-weight: 700;
    
}